<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hey, <%=@user.username %></h1>
    <p>
      You asked for a reminder before your activity,
      your accessories are: <%= @subscribe.activity.accessories %>.<br>
    </p>
    <p>
      There is a link to the activity that you subscribed to <%= @url %>.
    </p>
    <p>Have a great day! buildym</p>
  </body>
</html>
