<div id="content" style="min-height: 2019px;">
				<div class="inner">
          <h1>Editing Subscribe</h1>

<%= render 'form', subscribe: @subscribe %>

<%= link_to 'Show', @subscribe %> |
<%= link_to 'Back', subscribes_path %>
</div>
</div>
