<div id="content" style="min-height: 2019px;">
				<div class="inner">
<h1>New Subscribe for <%= activity_name(params[:activtiy]) %> </h1>

<%= render 'form', subscribe: @subscribe %>

<%= link_to 'Back', subscribes_path %>
</div>
</div>
